/* Primary */
$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);

$Facebook: hsl(195, 100%, 50%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

/* Dark Theme */
$Toggle-Dark: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

/* Light Theme */
$Toggle-White: hsl(230, 22%, 74%);

/* Neutral */

/* Dark Theme */
$Very-Dark-Blue-BG: hsl(230, 17%, 14%);
$Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
$Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
$Desaturated-Blue-Text: hsl(228, 34%, 66%);
$White-Text: hsl(0, 0%, 100%);

/* Light Theme */
$White-BG: hsl(0, 0%, 100%);
$Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
$Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
$Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$Very-Dark-Blue-Text: hsl(230, 17%, 14%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: $Very-Dark-Blue-BG;
}
.container {
  max-width: 1440px;
  margin: 0 auto;

  .social {
    &__background-top {
      background-color: red;
      position: absolute;
    }

    &__titles-container {
      margin-top: 2rem;
      color: $White-Text;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__main-title {
      font-size: 2rem;
    }

    &__sub-title {
      font-size: 1rem;
      color: $Desaturated-Blue-Text;
    }

    &__toggle-container {
      display: flex;
      align-items: center;

      .toggle {
        .switch {
          position: relative;
          margin: 50px;
          input[type="checkbox"] {
            visibility: hidden;
            &:checked {
              + label {
                &::after {
                  left: 27px;
                  transition: all 300ms ease-in-out;
                }
              }
            }
          }

          label {
            position: absolute;
            width: 50px;
            height: 23px;
            top: 0;
            left: 0;
            background-image: $Toggle-Dark;
            border-radius: 50px;
            &::after {
              cursor: pointer;
              transition: all 300ms ease-in-out;
              content: "";
              width: 20px;
              height: 20px;
              background-color: $Very-Dark-Blue-BG;
              position: absolute;
              left: 2px;
              top: 1.55px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
      margin: 3rem 0;
    }

    &__card {
      border-top: 5px solid $Twitter;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding: 2rem;
      height: 230px;
      background-color: $Dark-Desaturated-Blue-Card-BG;

      &:nth-child(1) {
        border-top-color: $Facebook;
      }

      &:nth-child(2) {
        border-top-color: $Twitter;
      }

      &:nth-child(3) {
        border-top: 5px solid;
        border-image: $Instagram 1;
        border-radius: 0.5rem;

        &::before {
          border-radius: inherit;
        }
      }

      &:nth-child(4) {
        border-top-color: $YouTube;
        .followers-container-icon {
          color: $Bright-Red;
        }
      }

      .social-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 1rem;
          width: 25px;
          height: auto;
        }
        p {
          color: $Desaturated-Blue-Text;
        }
      }

      .followers-container-text {
        margin: 0.8rem 0;
        h1 {
          font-size: 4rem;
          color: $White-Text;
        }

        p {
          letter-spacing: 3px;
          color: $Desaturated-Blue-Text;
        }
      }

      .followers-container-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $Lime-Green;

        i {
          display: flex;
          align-items: center;
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }

    &__overview-title {
      color: $White-Text;
      font-size: 2rem;
    }

    &__overview-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      margin: 2rem 0;
    }

    &__overview-card {
      border-radius: 0.3rem;
      background-color: $Dark-Desaturated-Blue-Card-BG;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(2) {
        .overview-increase-container {
          span {
            color: $Bright-Red;
          }
        }
      }

      &:nth-child(7) {
        .overview-increase-container {
          span {
            color: $Bright-Red;
          }
        }
      }

      &:nth-child(8) {
        .overview-increase-container {
          span {
            color: $Bright-Red;
          }
        }
      }

      .overview-views-container {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: $Desaturated-Blue-Text;
          font-weight: bold;
          font-size: 1.2rem;
        }

        img {
          width: 25px;
          height: auto;
        }
      }

      .overview-increase-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          color: $White-Text;
          font-weight: bold;
          font-size: 2.5rem;
        }

        span {
          color: $Lime-Green;
        }
      }
    }
  }
}

// White theme
.whiteTheme {
  transition: background-color 0.5s ease-in-out;
  background-color: $White-BG;
  color: $Dark-Grayish-Blue-Text;

  .container {
    .social {
      &__titles-container {
        h1 {
          color: $Very-Dark-Blue-Text;
        }
      }

      &__toggle-container {
        h2 {
          color: $Dark-Grayish-Blue-Text;
        }
        .toggle {
          .switch {
            label {
              background-color: $Toggle-White;
              background-image: initial;
              &::after {
                background-color: $White-BG;
              }
            }
          }
        }
      }

      &__card {
        background-color: $Light-Grayish-Blue-Card-BG;

        .social-container {
          p {
            color: $Dark-Grayish-Blue-Text;
          }
        }

        .followers-container-text {
          h1 {
            color: $Very-Dark-Blue-Text;
          }
        }
      }

      &__overview-title {
        color: $Dark-Grayish-Blue-Text;
      }

      &__overview-card {
        background-color: $Light-Grayish-Blue-Card-BG;

        .overview-views-container {
          p {
            color: $Dark-Grayish-Blue-Text;
          }
        }

        .overview-increase-container {
          p {
            color: $Very-Dark-Blue-Text;
          }
        }
      }
    }
  }
}

// Media queries
@media screen and (max-width: 768px) {
  .container {
    max-width: 375px;

    .social {
      &__main-title {
        white-space: nowrap;
      }

      &__toggle-container {
        margin-top: 2rem;
      }

      &__cards-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }

      &__overview-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }
    }
  }
}
