@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f5f5f8;
}

.container {
  /* max-width: 1440px; */
  max-width: 945px;
  margin: 0 auto;
}

h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
  }
}
