@import url("https://fonts.googleapis.com/css?family=Hind:400,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  color: #fff;
  font-family: "Hind", sans-serif; }

section {
  border-bottom: 8px solid #222; }

.section-1 {
  position: relative; }
  .section-1__header-container {
    margin: 0 3.5rem; }
  .section-1 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    width: 100%;
    height: 13%; }
  .section-1__logo img {
    padding-top: 0.5rem;
    height: auto;
    width: 139px;
    margin-left: 3rem; }
  .section-1__btn {
    text-decoration: none;
    background-color: #e50914;
    color: #fff;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 3rem;
    transition: background-color 100ms ease-in-out; }
    .section-1__btn:hover {
      background-color: #920007; }
  .section-1__landing-image {
    height: 95vh;
    z-index: 40;
    background-size: cover;
    background-image: url("https://i.ibb.co/vXqDmnh/background.jpg");
    background-attachment: fixed;
    background-position: center center; }
  .section-1__landing-text {
    z-index: 50;
    position: relative;
    width: 100%;
    padding: 15rem 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    z-index: 1; }
    .section-1__landing-text .landing-title {
      font-size: 3.5rem;
      max-width: 578px;
      margin: 0 auto;
      line-height: 1; }
    .section-1__landing-text .landing-subtitle {
      margin: 1rem 0;
      font-size: 1.7rem; }
    .section-1__landing-text .landing-subtitle-2 {
      font-size: 1.2rem;
      margin: 0.5rem 0; }
  .section-1__input-container {
    max-width: 686px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .section-1__input-container input {
      height: 60px;
      padding: 0px 10px 0;
      width: 100%;
      font-size: 16.7px;
      border: solid 0.1px #8c8c8c;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      display: block;
      width: 100%;
      color: #000;
      display: flex;
      align-items: center; }
    .section-1__input-container button {
      color: #fff;
      background-color: #e50914;
      border: none;
      height: 62px;
      cursor: pointer;
      padding-left: 1.6125rem;
      transition: background-color 100ms ease-in-out; }
      .section-1__input-container button:hover {
        background-color: #920007; }
      .section-1__input-container button p {
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        white-space: nowrap; }
        .section-1__input-container button p svg {
          width: 22px;
          height: auto;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-bottom: 0.1rem; }
  .section-1__gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); }

.section-2 {
  margin-top: 11rem;
  position: relative;
  padding-bottom: 4rem; }
  .section-2__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 15%; }
  .section-2__text {
    max-width: 411px;
    margin-top: -0.6rem; }
    .section-2__text h1 {
      font-size: 3.5rem;
      white-space: 0.5rem;
      line-height: 1.1;
      white-space: nowrap;
      margin-bottom: 1rem; }
    .section-2__text p {
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.3; }
  .section-2__animation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -11rem;
    margin-right: -2rem;
    padding: 2rem; }
    .section-2__animation img {
      width: 593px;
      height: auto;
      position: relative;
      z-index: 2; }
  .section-2__video-container {
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 51.1%;
    left: 53.2%;
    transform: translate(-50%, -50%); }
    .section-2__video-container video {
      width: 100%;
      height: 100%; }

.section-3 {
  margin-top: 0.7rem; }
  .section-3__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 15%; }
  .section-3__animation {
    position: relative;
    margin-left: -1rem;
    margin-bottom: 3rem; }
    .section-3__animation img {
      width: 436px;
      height: auto; }
  .section-3__card-animation {
    position: absolute;
    left: 38.6%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: black;
    display: flex;
    align-items: center;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 2em 0 #000000;
    border-radius: 0.75em; }
  .section-3 .card-animation-container {
    margin: 0 1em 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex; }
    .section-3 .card-animation-container img {
      height: 4.5em;
      width: auto;
      margin-right: 1rem; }
    .section-3 .card-animation-container .card-animation-text {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 1.3em 0;
      line-height: 1.2; }
      .section-3 .card-animation-container .card-animation-text .text-1 {
        font-size: 1em;
        color: #fff;
        font-weight: bold; }
      .section-3 .card-animation-container .card-animation-text .text-2 {
        font-size: 0.9em;
        color: #0071eb;
        font-weight: normal; }
    .section-3 .card-animation-container::after {
      width: 3em;
      margin-left: 1rem;
      height: 5em;
      outline: 2px solid black;
      outline-offset: -2px;
      display: block;
      background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif") center center no-repeat;
      background-size: 100%;
      content: '';
      flex-grow: 0;
      flex-shrink: 0; }
  .section-3__text {
    margin-top: 6.5rem; }
    .section-3__text h1 {
      font-size: 2.8rem;
      line-height: 1;
      margin-bottom: 0.8rem; }
    .section-3__text p {
      font-size: 1.4rem;
      line-height: 1.3; }

.section-4 {
  margin-top: 1.3rem; }
  .section-4__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 15%; }
  .section-4__text {
    margin-top: 10rem; }
    .section-4__text h1 {
      font-size: 3.4rem;
      line-height: 1;
      margin-bottom: 0.8rem;
      white-space: nowrap; }
    .section-4__text p {
      font-size: 1.4rem;
      line-height: 1.3;
      max-width: 378px; }
  .section-4__animation {
    margin-bottom: 3rem;
    margin-right: 5rem;
    margin-top: 3rem;
    position: relative; }
    .section-4__animation img {
      width: 511px;
      height: auto;
      position: relative;
      z-index: 2; }
  .section-4__video-container {
    width: 61.9%;
    height: auto;
    max-width: 100%;
    max-height: 47%;
    position: absolute;
    top: 33.8%;
    left: 50.1%;
    transform: translate(-50%, -50%); }
    .section-4__video-container video {
      width: 100%;
      height: 100%; }

footer {
  text-align: center;
  margin: 1rem 0; }
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    transition: color 300ms ease-in-out; }
    footer a:hover {
      color: #e50914; }
